.recherche{
	color: red;
	font-size: 1.5em;
	font-style: italic;
}

.bouton{
	margin-bottom: 75px;
	margin-top: 25px;
}

.matricule{
	font-weight: bold;
}

.bouton-ajout{
	margin-top: 25px;
}

.required{
	color: red;
}

.avatar {
  height: 100px;
  width: 100px;
}

.sidebar-menu > ul > li > i.fa{
	color: #096e3e;
}

.couleur-verte{
	color: #096e3e;
}

.couleur-orange{
	color: #f87d06;
}

.fond-info{
	background-color: #096e3e;
	color: white;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.fond-blanc{
	color: white;
}
