{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal m-t-20' } }) }}
    {{ form_widget(form) }}
    <div style="margin-top: 10px;">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block btn-lg waves-effect waves-light" />
    </div>
{{ form_end(form) }}
